{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{%block title%}ReceiveAccessToken{%endblock%}

{%block page_content%}
<div class="container">
    <div class="page-header">
        <a href="/generate_authZ_code_req">
            Request for a Azure AD AuthZ Code now
        </a>
        <br/>
        <a href="https://docs.microsoft.com/en-us/outlook/rest/python-tutorial#using-the-mail-api">
            Microsoft Document - Build Django App
        </a>
        <br/>
        <a href="https://docs.microsoft.com/en-us/graph/auth-v2-user">
            Microsoft Document - AuthZ and Access Token
        </a>
    </div>
</div>
{%endblock%}